*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

body{
  height: 100%;
 background: #090e1a;
}

.avatar{
  width: 150px;
  border-radius: 100%;
  border: 2px solid #08b602;
  margin: 20px;
  box-shadow: 0px 0px 20px 5px #055200;
  transform: rotate(20deg);
}

.profile{
  text-align: center;
}

h1{
  color: #ffffff;
  font-size: 38px;
  font-weight: bold; 
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}

h2{
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;  
  font-family: 'Lemon', cursive;
  margin-bottom: 50px;
}

.links-list{
  list-style:none;
}

.links-list li{
  margin: 40px 20px; 
}

.links-list li img{
  width: 70px;
  padding: 0;  
}

.links-list li {
  display:flex;
  align-items: center;
  background: #161c2b;
  border: 1px solid #08b602; 
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px #055200;    
}

.links-list li a {
  display: block;  
  padding: 10px 10px;
  text-decoration: none;
  color: #6184c9;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  
}

.links-list li a span{
  display: block;
  color: #ffffff;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}




